scratch/*
build/*
.*.swp
photon_firmware_1490730169400.bin
default.vim
venthoodSrc/softiePage/1BLogo.svg
venthoodSrc/softiePage/FSEmeric-Medium.h
venthoodSrc/softiePage/FSEmeric-Medium.woff
venthoodSrc/softiePage/FSEmeric-Regular.h
venthoodSrc/softiePage/FSEmeric-Regular.woff
.DS_Store
